<a href="{{ path('helloName', {'name': 'Mickey'}) }}">Hello Mickey</a>
<a href="{{ path('helloName', {'name': 'Daisy'}) }}">Hello Daisy</a>
<a href="{{ path('helloName', {'name': 'Donald'}) }}">Hello Donald</a>
<a href="{{ path('helloName', {'name': 'Dingo'}) }}">Hello Dingo</a>